apiVersion: v1
kind: Pod
metadata:
  name: cm-consumer-pod-04
spec:
  containers:
    - name: cm-consumer-pod-04-container
      image: radial/busyboxplus
      command: ['/bin/sh', '-c']
      args:
      - >
        ls -al /etc/config/cm01/cm01-confdir;
        cat /etc/config/cm01/cm01-confdir;
        ls -al /etc/config/cm02/cm02-nodeport;
        cat /etc/config/cm02/cm02-nodeport;
      volumeMounts:
      - name: cm-01-volume
        mountPath: /etc/config/cm01
      - name: cm-02-volume
        mountPath: /etc/config/cm02
  volumes:
    - name: cm-01-volume
      configMap:
        name: cm-01
        items:
        - key: confdir
          path: cm01-confdir
    - name: cm-02-volume
      configMap:
        name: cm-02
        items:
        - key: node_port
          path: cm02-nodeport
  restartPolicy: Never
